<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger{1} - %message%newline" />
			</layout>
		</appender>
		<appender name="File" type="log4net.Appender.RollingFileAppender">
			<file value="logs/logfile.txt" />
			<datePattern value="yyyy-MM-dd'-FULL.txt'" />
			<appendToFile value="true" />
			<preserveLogFileNameExtension value="true" />
			<rollingStyle value="Size" />
			<maximumFileSize value="2MB" />
			<maxSizeRollBackups value="5" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="Warn" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="File" />
		</root>
	</log4net>
	
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUsuarioManejador">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IRestablecimientoCuentaManejador">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccesoManejador">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IDireccionManejador">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ISocioManejador">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IDevolucionManejador">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ILibroManejador" maxBufferSize="10485760" maxReceivedMessageSize="10485760">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPrestamoManejador">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://148.226.80.25:1441/ServicioUsuario"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IUsuarioManejador"
                contract="ServidorElSaber.IUsuarioManejador" name="NetTcpBinding_IUsuarioManejador" />
            <endpoint address="net.tcp://148.226.80.25:1441/ServicioCorreo"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRestablecimientoCuentaManejador"
                contract="ServidorElSaber.IRestablecimientoCuentaManejador"
                name="NetTcpBinding_IRestablecimientoCuentaManejador" />
            <endpoint address="net.tcp://148.226.80.25:1441/ServicioAcceso"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccesoManejador"
                contract="ServidorElSaber.IAccesoManejador" name="NetTcpBinding_IAccesoManejador" />
            <endpoint address="net.tcp://148.226.80.25:1441/ServicioDireccion"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDireccionManejador"
                contract="ServidorElSaber.IDireccionManejador" name="NetTcpBinding_IDireccionManejador" />
            <endpoint address="net.tcp://148.226.80.25:1441/ServicioSocio"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISocioManejador"
                contract="ServidorElSaber.ISocioManejador" name="NetTcpBinding_ISocioManejador" />
            <endpoint address="net.tcp://148.226.80.25:1441/ServicioDevolucion"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDevolucionManejador"
                contract="ServidorElSaber.IDevolucionManejador" name="NetTcpBinding_IDevolucionManejador" />
            <endpoint address="net.tcp://148.226.80.25:1441/ServicioLibro"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILibroManejador"
                contract="ServidorElSaber.ILibroManejador" name="NetTcpBinding_ILibroManejador" />
            <endpoint address="net.tcp://148.226.80.25:1441/ServicioPrestamo"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPrestamoManejador"
                contract="ServidorElSaber.IPrestamoManejador" name="NetTcpBinding_IPrestamoManejador" />
        </client>
    </system.serviceModel>
	<appSettings>
		<add key="Correo" value="bibliotecaelsaber836@gmail.com"/>
		<add key="Contrasenia" value="dymj wdrc xjjl cljb"/>
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
	</appSettings>
</configuration>